<header class="deo-header mdl-layout__header ">
    <div class="mdl-layout__header-row">
        <span class="mdl-layout-title"><%= link_to "MicroPost Sample App", root_path, :class => "mdl-navigation__link"  %></span>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" id="search">
                <label class="mdl-textfield__label" for="search">Enter your query...</label>
            </div>
        </div>
        <% if logged_in? %>
            <%= link_to "Users", users_path, :class => "mdl-navigation__link" %>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right drop-menu" for="hdrbtn">                
                <li class="mdl-menu__item"><%= link_to "Profile", current_user, :class => "mdl-navigation__link mdl-color-text--black" %></li>
                <li class="mdl-menu__item"><%= link_to "Settings", edit_user_path(current_user), :class => "mdl-navigation__link mdl-color-text--black" %></li>
                <li class="mdl-menu__item"><%= link_to "Log out", logout_path, method: "delete", :class => "mdl-navigation__link mdl-color-text--black" %></li>
            </ul>
        <% else %>
            <%=  link_to "Log in", login_path, :class => "mdl-navigation__link"  %>
            <%=  link_to "Help", help_path, :class => "mdl-navigation__link"  %>
            <%=  link_to "About", about_path, :class => "mdl-navigation__link"  %>
            <%=  link_to "Contact", contact_path, :class => "mdl-navigation__link"  %>
        <% end %>
    </div>
</header>

<% if logged_in? %>

<%= render 'shared/user_info' %>

<% end %>